<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [68]:
import pandas as pd

Load the dataset into a dataframe.

In [69]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [70]:
# your code goes here
# search for duplicates and show the length of the result
print("Number of duplicates:", len(df[df.duplicated()]))

Number of duplicates: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [71]:
# your code goes here
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [72]:
# your code goes here
print("Number of duplicates:", len(df[df.duplicated()]))

Number of duplicates: 0

## Finding Missing values

Find the missing values for all columns.

In [73]:
# your code goes here
missing_data =  df.isnull().sum()
missing_data = missing_data.to_frame()
missing_data = missing_data.reset_index()
missing_data.columns = ["column_name", "no_of_missing_values"]
print(missing_data)

     column_name  no_of_missing_values
0     Respondent                     0
1     MainBranch                     0
2       Hobbyist                     0
3    OpenSourcer                     0
4     OpenSource                    81
..           ...                   ...
80     Sexuality                   542
81     Ethnicity                   675
82    Dependents                   140
83  SurveyLength                    19
84    SurveyEase                    14

[85 rows x 2 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [81]:
# your code goes here
result = missing_data.loc[missing_data["column_name"] == "WorkLoc"]
print("Missing columns in WorkLoc: ", result["no_of_missing_values"].to_string(index = False))

Missing columns in WorkLoc:  32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [75]:
# your code goes here
df.groupby(["WorkLoc"])["Respondent"].count().to_frame()

                                                Respondent
WorkLoc
Home                                                  3589
Office                                                6806
Other place, such as a coworking space or cafe         971

Identify the value that is most frequent (majority) in the WorkLoc column.

In [76]:
#make a note of the majority value here, for future reference
# Identify the value that is most frequent (majority) in the WorkLoc column and put it in a dataframe.
max_WorkLoc = df.groupby(["WorkLoc"])["Respondent"].count().to_frame()

max_WorkLoc = max_WorkLoc.reset_index()
max_WorkLoc = max_WorkLoc[max_WorkLoc.Respondent == max_WorkLoc.Respondent.max()]

max_WorkLoc_count = max_WorkLoc["Respondent"].to_string(index = False)
max_WorkLoc_value = max_WorkLoc["WorkLoc"].to_string(index = False)


print("The most frequent value is: ", max_WorkLoc_count)
print("The most frequent value belongs to: ", max_WorkLoc_value)

The most frequent value is:  6806
The most frequent value belongs to:  Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [77]:
# your code goes here
# we want to replace the missing values with "Office" 
import numpy as np
df["WorkLoc"].replace(np.nan, max_WorkLoc_value, inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [78]:
# your code goes here
empty_check = df["WorkLoc"].isnull().sum()
print("Number of missing values in WorkLoc:", empty_check)

Number of missing values in WorkLoc: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [79]:
# your code goes here
comp_freq = df.groupby(["CompFreq"])["Respondent"].count().to_frame()
comp_freq.reset_index(inplace = True)
comp_freq

  CompFreq  Respondent
0  Monthly        4788
1   Weekly         331
2   Yearly        6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [80]:
# your code goes here
# create time variables 
months = 12
weeks = 52

# create list of conditions for different compensation frequencies
conditions = [
    df["CompFreq"] == "Yearly",
    df["CompFreq"] == "Monthly",
    df["CompFreq"] == "Weekly"
    ]

# create lsit of input values for different compensation  frequencies
values = [
    df["CompTotal"],
    df["CompTotal"] * months,
    df["CompTotal"] * weeks
    ]

# run the conditions and values.
# if a condition is met, the value will be inserted in the new column
df["NormalizedAnnualCompensation"] = np.select(conditions, values)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).